/* Stile di base */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-container, .dettagli-meteo {
  padding: 20px;
  text-align: center;
}

input {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .home-container {
    padding: 15px;
  }

  input {
    width: 80%;
  }

  button {
    width: 60%;
  }
}

@media (min-width: 600px) {
  .home-container {
    padding: 30px;
  }
}
